[package]
name = "db"
version = "0.1.0"
edition = "2024"

[dependencies]
chrono = "0.4.43"
diesel = {version="2.3.6", features=["postgres", "chrono"]}
diesel_cli = { version = "2.3.6", default-features = false, features = ["postgres"] }
uuid = { version="1.20.0", features= ["v4"]}
